* {
  font-family: "Cascadia Code";
  font-size: 10pt;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
window#waybar {
  background-color: transparent;
}
window > box {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;

  background-color: #11111b;
  border: 1px solid #f5c2e7;
  border-radius: 10px;
}

.modules-left,
.modules-right,
.modules-center {


}
.modules-right {
  padding-left: 10px;
  padding-right: 10px;
}

.modules-left {
  /* padding-right: 5px; */
}

#workspaces {
  padding-left: 0px;
}
#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  color: #f5e0dc;
  border: none;
  border-radius: 5px;
}
#workspaces button.focused {
  background-color: #f5c2e7;
  color: #1e1e2e;
}
#workspaces button.urgent {
  color: #1e1e2e;
}
#workspaces button:hover {
  background-color: #89dceb;
  color: white;
}
tooltip {
  background: #1e1e2e;
}
tooltip label {
  color: #f5e0dc;
}
#custom-launcher {
  font-size: 15pt;
  padding-left: 15px;
  padding-right: 6px;
  color: #f5c2e7;


  background-image: url('/home/chrs/.config/waybar/asahilinux-pink.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
}
#mode,
#clock,
#memory,
#cpu,
#pulseaudio,
#network,
#battery,
#tray,
#custom-cava-internal {
  padding-left: 10px;
  padding-right: 10px;
}

#custom-powermenu {
  padding-left: 10px;
  padding-right: 5px;
}

#custom-cava-internal {
  color: #cba6f7;
}

#memory {
  color: #89dceb;
}
#cpu {
  color: #f5c2e7;
}
#clock {
  color: #cdd6f4;
}

#pulseaudio {
  color: #cdd6f4;
}
#network {
  color: #cba6f7;
}

#network.disconnected {
  color: #f38ba8;
}

#custom-powermenu {
  color: #f38ba8;
  font-size: 13pt;
}
#tray {
  padding-right: 8px;
  padding-left: 10px;
}

#custom-spotify {
  color: #cdd6f4;
  font-weight: 500;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 9pt;
}

#custom-weather {
  color: #f9e2af;
  margin-right: 5px;
}

#battery.charging,
#battery.full,
#battery.discharging {
  color: #a6e3a1;
}
#battery.critical:not(.charging) {
  color: #f38ba8;
}

