G* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
  border: none;
  border-radius: 0;
  transition-property: background-color;
  transition-duration: 0.5s;
}
window#waybar {
  color: #cdd6f4;
  background-color: #11111b;
  border-bottom: 1px solid #272E33;
  transition-duration: 0.5s;
  transition-property: background-color;
}
#workspaces button {
  background: #11111b;
  color: #cdd6f4;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  border: none;
}
#workspaces button.focused {
  color: #11111b;
  background: #f5c2e7;
}
#workspaces button.urgent {
  color: #f7768e;
}
#workspaces button.persistent {
  color: #cdd6f4;
}
#workspaces button:hover {
  color: #cdd6f4;
  background: #7FBBB3;
}
#clock,
#custom-cava-internal,
#disk,
#network,
#pulseaudio,
#cpu,
#memory,
#mode {
  margin: 0px 2px;   /* gaps between modules */
  padding: 0.2rem 0.6rem;
  color: #cdd6f4;
  background: #11111b;
  border-bottom: 1px solid #272E33;
}


#custom-separator {
  color: #cdd6f4;
  background: #11111b;
  border-bottom: 1px solid #11111b;
}

#custom-cava-internal{
  font-family: "Hack Nerd Font" ;
}
